<div class="card">
  <div class="card-header" uiSref="roomDetail" [uiParams]="{ roomPk: room.id }">
      {{ room.name }}
  </div>
  <div class="card-body">
    <!-- display sensors of room -->
    <div *ngIf="room.sensors && room.sensors.length > 0; else noSensors">
      <div *ngFor="let sensor of room.sensors">
        <b>{{ sensor.name }}</b><br />

        <div *ngIf="sensor.live_data; else noLiveData">
          <div class="row">
            <div class="col-12">
              <!-- show data depending on the sensor type -->
              <div [ngSwitch]="sensor.type">
                <div *ngSwitchCase="'temperature'">
                  <span>{{ sensor.live_data.temperature }} °C &nbsp;</span>
                  <span>{{ sensor.live_data.humidity }} % rH &nbsp;</span>

                </div>
                <div *ngSwitchCase="'plant'">
                  <span>{{ sensor.live_data.temperature }} °C &nbsp;</span>
                  <span>{{ sensor.live_data.humidity }} % rH &nbsp;</span>

                </div>
                <div *ngSwitchCase="'door'">
                  <span *ngIf="sensor.live_data.binary_state == 0">Closed</span>
                  <span *ngIf="sensor.live_data.binary_state == 1">Open</span>
                  (since {{ sensor.live_data.created_at | date:'HH:mm dd-MM-yyyy' }})
                </div>
                <div *ngSwitchCase="'movement'">
                   Last movement at {{ sensor.live_data.created_at | date:'HH:mm dd-MM-yyyy' }}
                </div>
                <div *ngSwitchDefault>
                  <!-- default case: just show the json data...-->
                  {{ sensor.type }}:
                  {{ sensor.live_data | json }}
                </div>
              </div>
            </div>
            <div class="col-12 text-right" style="font-size: 8pt; color: #696969">
              Updated: {{  sensor.live_data.created_at | date:'HH:mm dd-MM-yyyy' }}
           </div>
          </div>
        </div>

        <ng-template #noLiveData>
          No live data
          <fa-icon [icon]="['far', 'frown-open']"></fa-icon>
        </ng-template>
      </div>
    </div>
    <ng-template #noSensors>
        This room has no sensors linked to it
        <fa-icon [icon]="['far', 'frown-open']"></fa-icon>
      </ng-template>
  </div>
</div>