<div *ngIf="loaded; else notLoadedPleaseWait">
  <div *ngIf="room; else noRoomData">
    <div class="row">
      <div class="col-sm-6">
          <app-room-widget [room]="room"></app-room-widget>
      </div>
      <div class="col-sm-6">
          Created at: {{ room.created_at }}<br />
          comment: {{ room.comment }}<br />
          Features: 
          <fa-icon [hidden]="!room.has_temperature" icon="thermometer-half" title="Temperature"></fa-icon>
          <fa-icon [hidden]="!room.has_humidity" icon="tint" title="Humidity"></fa-icon>
          <fa-icon [hidden]="!room.has_air_pressure" icon="cloud" title="Air pressure"></fa-icon>
          <br />
      </div>
    </div>

    <table class="table" *ngIf="roomStats">
        <thead>
        <tr>
            <th>Stats over 24h</th>
            <th>Min</th>
            <th>Avg</th>
            <th>Max</th>
        </tr>
        </thead>
        <tr [hidden]="!room.has_temperature">
            <td>Temperature</td>
            <td>{{ roomStats.min_temperature | number:'1.0-1' }} °C</td>
            <td>{{ roomStats.avg_temperature | number:'1.0-1' }} °C</td>
            <td>{{ roomStats.max_temperature | number:'1.0-1' }} °C</td>
        </tr>
        <tr [hidden]="!room.has_humidity">
            <td>Humidity</td>
            <td>{{ roomStats.min_humidity | number:'1.0-0' }} %</td>
            <td>{{ roomStats.avg_humidity | number:'1.0-0' }} %</td>
            <td>{{ roomStats.max_humidity | number:'1.0-0' }} %</td>
        </tr>
        <tr [hidden]="!room.has_air_pressure">
            <td>Air Pressure</td>
            <td>{{ roomStats.min_air_pressure | number:'1.0-1' }} PA</td>
            <td>{{ roomStats.avg_air_pressure | number:'1.0-1' }} PA</td>
            <td>{{ roomStats.max_air_pressure | number:'1.0-1' }} PA</td>
        </tr>
    </table>
    <hr/>

    <div *ngIf="historyLoaded" style="width: 100%">
      <div *ngFor="let sensor of room.sensors">
        <div *ngIf="roomHistoryData[sensor.live_data?.sensor_id]">
          <b>{{ sensor.name }}</b>
          <app-room-temperature-chart-widget 
          [roomHistoryData]="roomHistoryData[sensor.live_data?.sensor_id]"
          ></app-room-temperature-chart-widget>
      </div>
      </div>
    </div>
  </div>
  <ng-template #noRoomData>
    No room data available <fa-icon [icon]="['far', 'frown-open']"></fa-icon>
  </ng-template>
</div>
<ng-template #notLoadedPleaseWait>
  Please wait...
</ng-template>