<div class="card">
  <div class="card-header">
    <a uiSref="roomDetail" [uiParams]="{ roomPk: room.id }">
      {{ room.name }}
    </a>
  </div>
  <div class="card-body" style="height: 70px">
    <!-- display live data of room -->
    <div class="row" *ngIf="room.live_data; else noLiveData">
      <div class="col-12">
      <!-- Temperature -->
      <span *ngIf="room.live_data.temperature != null && room.has_temperature">
        {{ room.live_data.temperature }} °C

        <fa-icon [hidden]="room.average_last_hour.temperature - room.live_data.temperature < 0.1" 
          title="Down by {{ (room.average_last_hour.temperature - room.live_data.temperature) | number:'1.0-1' }} °C within the last hour"
          icon="caret-down"></fa-icon>
        <fa-icon [hidden]="room.average_last_hour.temperature - room.live_data.temperature > -0.1" 
          title="Up by {{ (room.live_data.temperature - room.average_last_hour.temperature) | number:'1.0-1' }} °C within the last hour"
          icon="caret-up"></fa-icon>
        &nbsp;
      </span>

      <!-- Humidity -->
      <span *ngIf="room.live_data.humidity != null && room.has_humidity">
        {{ room.live_data.humidity }} % rH

        <fa-icon [hidden]="room.average_last_hour.humidity - room.live_data.humidity < 1" 
          title="Down by {{ (room.average_last_hour.humidity - room.live_data.humidity) | number: 0 }} % within the last hour"
          icon="caret-down"></fa-icon>
        <fa-icon [hidden]="(room.average_last_hour.humidity - room.live_data.humidity) > -1" 
          title="Up by {{ (room.live_data.humidity - room.average_last_hour.humidity) | number: 0 }} % within the last hour"
          icon="caret-up"></fa-icon>
        &nbsp;
      </span>

      <!-- Air Pressure -->
      <span *ngIf="room.live_data.air_pressure != null && room.has_air_pressure">
        {{ room.live_data.air_pressure }} PA
      </span>

      <!-- Battery -->
      <fa-icon icon="battery-quarter" 
      [hidden]="room.live_data.battery != '1.0'" aria-hidden="true" title="Battery might be empty"></fa-icon>

      </div>

      <div class="col-12 text-right" style="font-size: 8pt; color: #696969">
          Last updated: {{  room.live_data.created_at | date:'HH:mm dd-MM-yyyy' }}
      </div>
    </div>
    <ng-template #noLiveData>
        Currently no live data
        <fa-icon [icon]="['far', 'frown-open']"></fa-icon>
      </ng-template>
  </div>
</div>