<div *ngIf="loaded; else notLoadedPleaseWait" class="card-columns">
  <app-room-widget *ngFor="let room of rooms" [room]="room">
  </app-room-widget>
</div>
<ng-template #notLoadedPleaseWait>
  Loading, please wait...
</ng-template>